<div class="card-body">
    <h5 class="card-title">Employee Id {{employee.empId}}</h5>
    <p class="card-text">
      Total Number of Employee Leaves: {{employee.line_leaves.length}}
    </p>
    <p>
      Employee Name: {{employee.empName}}
    </p>

    <p>
      Employee Emails: {{employee.empEmail}}
    </p>
    <p>
      Employee DateofJoining: {{employee.doj}}
    </p>
    <a (click)="select(employee)" class="btn btn-success">Details</a>

  </div>
