<div class="container">
  <div class="row" style="margin-top: 20px;">
      <div class="col-md-8">
            <form ngForm #leaveForm = "ngForm" (ngSubmit)="submitLeave(leaveForm.value)">
                <div class="form-group">
                    <label for="empName">Employee Name</label>
                    <input
                        ngModel
                        name = "empName"
                        type="text"
                        class="form-control"
                        id="empName"
                        #empName = "ngModel"
                        required
                        minlength="4"
                        aria-describedby="empNameHelp">
                </div>
                <div>
                    <span class="alert alert-danger" *ngIf="empName.touched && empName.errors && empName.errors.required" >
                        Employee name is required field
                    </span>
                    <span class="alert alert-danger" *ngIf="empName.touched && empName.errors && empName.errors.minlength" >
                      Employee name should be of {{empName.errors.minlength.requiredLength - empName.errors.minlength.actualLength }} length
                    </span>
                </div>


                <div class="form-group">
                    <label for="empEmail">Employee Email</label>
                    <input
                        ngModel
                        name = "empEmail"
                        type="text"
                        class="form-control"
                        id="empEmail"
                        #empEmail = "ngModel"
                        required
                        minlength="4"
                        aria-describedby="empEmailHelp">
                </div>

                <div class="form-group">
                    <label for="doj">Start Date</label>
                    <input
                        type="date"
                        class="form-control"
                        ngModel
                        name = "doj"
                        #doj = "ngModel"
                        id="doj">
                </div>

                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input
                        type="date"
                        class="form-control"
                        ngModel
                        name = "startDate"
                        #startDate = "ngModel"
                        id="startDate">
                </div>
                <div>
                    <span class="alert alert-danger" *ngIf="startDate.touched && startDate.invalid" >
                        Start Date is required field
                    </span>
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input
                        type="date"
                        class="form-control"
                        ngModel
                        name = "endDate"
                        #endDate = "ngModel"
                        id="endDate">
                </div>
                <div>
                    <span class="alert alert-danger" *ngIf="endDate.touched && endDate.invalid" >
                        End date is required field
                    </span>
                </div>

                <div class="form-group">
                    <label for="leaveReason">Leave Reason</label>
                    <input
                        ngModel
                        name = "leaveReason"
                        type="text"
                        class="form-control"
                        id="leaveReason"
                        #leaveReason="ngModel"
                        required
                        aria-describedby="leaveReasonHelp">
                </div>
                <div>
                    <span class="alert alert-danger" *ngIf="leaveReason.touched && leaveReason.errors && leaveReason.errors.required" >
                    Leave Reason is required field
                    </span>
                    <span class="alert alert-danger" *ngIf="leaveReason.touched && leaveReason.errors && leaveReason.errors.minlength" >
                        Leave Reason should be of {{leaveReason.errors.minlength.requiredLength - leaveReason.errors.minlength.actualLength }} length
                    </span>
                </div>

                <div class="form-group">
                    <label for="leaveStatus">leave Status</label>
                    <input
                        ngModel
                        name = "leaveStatus"
                        type="text"
                        class="form-control"
                        id="leaveStatus"
                        #leaveStatus = "ngModel"
                        required
                        minlength="4"
                        aria-describedby="leaveStatusHelp">
                </div>

                <div class="form-group">
                    <label for="comments">Comments</label>
                    <input
                        ngModel
                        name = "comments"
                        type="text"
                        class="form-control"
                        id="comments"
                        #comments = "ngModel"
                        required
                        minlength="4"
                        aria-describedby="commentsHelp">
                </div>

                <button
                    type="submit"
                    [disabled]="leaveForm.invalid"
                    class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
